blinker
Brotli
cffi
click
cssselect2
et-xmlfile
Flask
fonttools
html5lib
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
pandas
pillow
pycparser
pydyf
pyphen
python-dateutil
pytz
six
tinycss2
tzdata
weasyprint
webencodings
Werkzeug
zopfli
